<div class="mybox">
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input type="text" ng-model="MySearch" class="form-control" placeholder="Filter by..." aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-item" ng-repeat="movie in allMovies | filter:MySearch">
        <h4 class="card-title title">{{movie.show_title}}</h4>
      
        <p></p>
        <div>
            <img src="{{movie.poster}}" alt="Card image">
        </div>
        <a href="#film/{{movie.show_title}}" class="card-link">Details</a>
    </div>
  </div>
</div>
